doctype html
html(lang = "en")
    head
        title American River College Software Database
        link(rel="stylesheet" href="style.css")
    body
        header
            img(src="images/logo.png" alt="American River College logo").header-logo
            h1.header-content American River College Software Database
        nav
            a(href="../") home
            a(href="../test.html") test

        p #{name} test string

        footer
            p This is the footer section
