doctype html
html(lang = "en")
    head
        title American River College Software Database
        link(rel="stylesheet" href="style.css")
    body
        header
            img(src="images/logo.png" alt="American River College logo").header-logo
            h1.header-content American River College Software Database
        nav
            a(href="../") home
            a(href="../table") table
            a(href="../test.html") test

            if true
                a(href="../licenses/edit-create") new license

        block content

        footer
            p This is the footer section
